//<МИКСИНЫ>===============================================================================================
@use "/src/mixins.scss" as mixins;
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================

//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================

//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontfamily: "Arial";
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minwidth: 320px;
$mw: 1170;
$md1: $mw + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@use "/src/null.scss";
body {
	color: #000;
	font-size: 14px;
	&.lock {
		overflow: hidden;
	}
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================

//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================

//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================

//====================================================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================
body {
  background-color: #fff;
}

.header{
  margin: 20px 100px 0 100px;

  &__nav{
    @include mixins.flexbox();
    flex-direction: row;
    justify-content: space-between;
  }
}

.moduleInput {
  border-radius: 5px;
}

.addInput {
  padding: 6px;
  margin: 0 10px 0 0;
}

.editInput {
  border-radius: 5px;
  font-size: 25px;
}

.card {
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 12px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
  color: black;
}

.delete {
  margin: 0 0 0 10px;
}

.modal {
  color: black;
  z-index: 100;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;

  &__window {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    min-width: 600px;
    min-height: 280px;
    position: relative;
  }

  &__button {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px;
    border: none;
    background: transparent;
    cursor: pointer;
  }

  h3 {
    font-size: 30px !important;
  }

  &__input {
    font-size: 25px;
    border-radius: 5px;
    &:last-of-type{
      margin: 0 0 0 10px !important;
    }
  }
}